<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- when outputting a single value we use, <%=   %> -->
    <title>Blog post project | <%= title %> </title>
 <link rel="stylesheet" href="style.css">
</head>