 <!-- <% const name = 'john' %> -->
<nav>
    <div class="site-title">
        <!-- outputting data using ejs -->
        <!-- <%= name %> -->
        <a href="/">
            <h1>Blog Post</h1>
        </a>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>