<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- when outputting a single value we use, <%=   %> -->
    <title>Blog post project | <%= title %> </title>
</head>
<body>
    <header>
        <!-- ejs code example below -->
        <!-- <% const name = 'john' %> -->
        <nav>
            <div class="site-title">
                <!-- outputting data using ejs -->
                <!-- <%= name %> -->
                <a href="/">
                    <h1>Blog Post</h1>
                </a>
            </div>
            <ul>
                <li><a href="/">Blogs</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blogs/create">New Blog</a></li>
            </ul>
        </nav>
    </header>
    <div class="blog content">
      <h2>All Blogs</h2>
    </div>
</body>
</html>

<!-- To inject data into the file we will use the ejs tags -->
<!-- example -->
<!-- <% %> -->